#povuciDiv {
    color:  white;
    position: absolute;
    cursor: move;
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

#ubaciDiv {
    color:  white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: red;
    width: 200px;
    height: 200px;
    
}